@media print {
    .hidden-print, .hidden-print * {
        display: none !important;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table tr th, table tr td {
        border: 1px solid #333;
        padding: 2px 4px;
    }

    .center-align {
        text-align: center;
    }

    .valign-top {
        vertical-align: top;
    }

    .no-border, .no-border td, .no-border th {
        border: none !important;
    }

    .print-only {
        display: block;
    }
}
